body {
  font-family: "Jost", sans-serif;
  font-size: 120%;
  color: #333;
  background: linear-gradient(135deg, rgb(255, 245, 232), rgb(245, 235, 212));
}

h1,
h2,
h3,
h4,
nav {
  font-family: "Jost", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

nav,
footer {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 0.25rem 0;
}

footer {
  text-align: right;
}

nav li {
  display: block;
  list-style-type: none;
  flex: 1;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

nav li:hover {
  background-color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
nav li a {
  text-decoration: none;
  color: #333;
}

.project-container {
  display: grid;
  grid-template-columns: 10rem auto;
}

.project-list {
  padding: 0.25rem;
  margin: 0;
  border-right: 2px solid black;
  background-image: linear-gradient(lightgray 0.1rem, transparent 0.1rem),
    linear-gradient(90deg, lightgray 0.1rem, transparent 0.1rem);
  background-size: 2rem 2rem;
}
.project-list ul {
  padding: 0.25rem;
}

.project-list li {
  list-style-type: none;
  padding: 0.25rem 0.25rem;
  margin: 0;
}
.project-list a {
  text-decoration: none;
}

.project-list li:hover {
  background-color: whitesmoke;
}

.project {
  padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }
}
